
#adv {
	width: 940px;
	height: 420px;
	margin: 10px 0 0px 0;
	display: block;
	clear: both;
}

#desc  {

	text-align: center;

	margin: 0px;
    padding: 0px 0 0 0px;
    display: block;

}

#adv img{

	padding: 30px 0 0 140px;
}

#desc p {

	margin: 0px;
}

#desc p.title {

	font-size: 50px;
}

#desc p.sub {

	color: #888888;
	text-shadow: 0 1px 0 #FFFFFF;
}

#links {
	margin: 10px auto; 
	padding: 0px;
	width: 820px;
	height: 174px;
	display: block;
	clear: both;
}


.quickLink {
	width: 260px;
	height: 174px;
	background: url("../images/frameBG.png") no-repeat 0 0 scroll;
	float: left;
	margin-right: 1px;
	margin-left: 8px;
}

.quickLink img {
	
}

.linkBox {
	margin-left: 80px;
	margin-top: 25px;
}

.linkBox a.label {

	text-decoration: none;
    display: block;
	margin: 5px 0 0 0;
	width: 100px;
	text-align: center;
	color: #888;
	text-shadow: 0 1px 0 #FFFFFF;

}

.linkBox a.label:hover {

	color: #0088cc;
}



#version {

	font-size: 12px;

}

#contact div {

	display: inline;
	float: left;
	padding-right: 10px;
}


#contact {

	color: #666;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

#contact a {
  color: #0088cc;
  text-decoration: none;
}

#contact a:hover {
	color: #35BDFF;
}


#mail p {

	margin: 0px 0;

}

#mail {

	margin: 35px 0 0px 0;
}


#sina {

    margin: 50px 0 0px 50px;

}

#buy {

    margin: 60px 0 0px 50px;

}