a {
  color: #0088cc;
  text-decoration: none;
}

 a:hover {
	color: #35BDFF;
}

td.price {

	color: #ff0000;
	font-size: 20px;
}

p.desc {


color: #0088cc;

}

.title {
    
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dashed #999999;
    padding-bottom: 10px;
    clear: left;
}